*{
     border : 2px solid #000000;  
     background-color: aliceblue; 
     padding : 10px;
        margin : 10px;
        

}

button{
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
} 


form{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;

}

